<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Concepts</title>
</head>
<body>
    <h1>This is Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odit ut perspiciatis explicabo consectetur quos exercitationem excepturi mollitia odio? Enim natus modi, adipisci distinctio est et neque fugit quo expedita nulla eum dolore saepe ipsam ratione quisquam praesentium magnam veritatis deserunt sapiente quis amet impedit repellat. Dolores mollitia est odio?</p>

    <button>Click me</button>
    
</body>
</html>