<div>
    <h1>this is footer</h1>
    <p>Contact us @instagram.in</p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus iure cumque omnis maxime dicta. Et harum ullam nobis repellat, saepe maxime repellendus illum porro, amet, illo obcaecati explicabo tempore consequatur.
</div>